# Basics of python

## functions

In [1]:
def add(a, b):
    return a + b

print(add(5, 3))

8

In [ ]:
#function with variable number of arguments
def multi_add(*args):
    result=0;
for x in args:
    result = result + x
    return reult

# loops

In [ ]:
#define a while loop
def main():

In [ ]:
#define a for loop
for x in range(5,10):
    print(x)

##fibonacci 22/1/2026

In [2]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)


n = int(input())


for i in range(n):
    print(fibonacci(i), end=" ")

0 1 1 2

## swap case

In [6]:
text = "hello world"
print(text.swapcase())

HELLO WORLD

In [12]:
def swap(ch):
    result=""
    for i in ch:
        if i.isupper():
            result+=i.lower()
        elif i.islower():
            result+=i.upper()
        else:
            result+=i
    return result
s=input()
convert=swap(s)
print(convert)

hejJGHHH

## split and join

In [14]:
text = "hellooo world heiwdh jhdehd"
print(text.split())

['hellooo', 'world', 'heiwdh', 'jhdehd']

In [16]:
a = "10,109,103,334,45,5"
n= a.split(",")
print(n)

['10', '109', '103', '334', '45', '5']

In [ ]:
#special case 1.shouldnt get multiple hyphens
a = input()
w = a.split()
sentence = "-".join(w)
print(sentence)

hedhb-hdbjedj-hedbjbjedjd-dhbhebd-eughfuehu

In [22]:
#special case 2.we have new line
a=input()
b=input()
w=a.split()
x=b.split()
sentence = "-".join(w)
s = "-".join(x)
print(sentence)
print(s)

dgcjbc-jdgjsgdfj-jdvjsdgkgs
svdjdvfj-jdfgjf-hdvjdvjd

## Data Structures

###list

In [28]:
#range is most common method to do diff data-structures
#create list of element and iterate through each element with their elements
friends = ["ashi","nan","vyas"]
for i in range(len(friends)):
    print(i,friends[i])

0 ashi
1 nan
2 vyas

In [30]:
def list(friends):
    for i in range(len(friends)):
        print(i,friends[i])
a =input()
list(a)

0 d
1 j
2 b
3 c

In [ ]:
def list(friends):
    for i in range(len(friends)):
        print()

### dictionary

In [33]:
#instead of using one dimentional values we can directly use 2 dimentional values
my_dict = {"name": "keer", "roll": 4}
for key in my_dict:
    print(key)

name
roll

In [1]:
s =[]
for i in range(5):
    s = {}
    s["name"]=input(" ")
    s["roll no"]=input(" ")
    for

SyntaxError: invalid syntax (927359470.py, line 6)

In [2]:
students = {"name":["keer","df","sdfd","dsfs","sdf"],"roll_no":[1,2,3,4,5]}
for key in students:
    print(key,students)

name {'name': ['keer', 'df', 'sdfd', 'dsfs', 'sdf'], 'roll_no': [1, 2, 3, 4, 5]}
roll_no {'name': ['keer', 'df', 'sdfd', 'dsfs', 'sdf'], 'roll_no': [1, 2, 3, 4, 5]}

### strings and unicode

In [41]:
name = "keerthana"
name.upper()

'KEERTHANA'

In [48]:
name= "keerthana"
name.find('n')

7

In [61]:
# f-string(inp=date time,output=happy new year;birthday;todays date is)
d=input(" ")
day,month,year,hour,min,bday,bmonth =map(int,d.split())
if day==1 and month==1:
    print("happy new year")
elif day==bday and month==bmonth:
    print("happy birthday")
else:
    print(f"todays date is {day}/{month}/{year} {hour}:{min}")

todays date is 2/2/2004 2:2

In [ ]:
#append in list
names = ["keer","ashi","vyas","ayyoob","nand"]
names.append('abhi')
print(names)

['keer', 'ashi', 'vyas', 'ayyoob', 'nand', 'abhi']

In [72]:
#append lsit using user input 
names = ["keer","kkeee"]
new_name = input(" ")
names.append(new_name)
print(names)
#for checking index
names.index('keer')

['keer', 'kkeee', 'kkee']

0

In [ ]:
names=["kkeee","kkkkeee"]
names[0]='kar'
print(names)
#to check it if contains or not(2 methods)
"kee" in names
name.__contains__("keee")

['kar', 'kkkkeee']

False

## Lists are mutable

## enumerate

In [ ]:
names = ["keer","ashi","vyas","ayyoob","nand"]
list((i-len(names),n))
for i, n in (enumerate(names)):
    print(names)
#########notttt correct

0 -1
1 nand
['keer', 'ashi', 'vyas', 'ayyoob', 'nand']
['keer', 'ashi', 'vyas', 'ayyoob', 'nand']
['keer', 'ashi', 'vyas', 'ayyoob', 'nand']
['keer', 'ashi', 'vyas', 'ayyoob', 'nand']
['keer', 'ashi', 'vyas', 'ayyoob', 'nand']

In [ ]:
#to slice our list
names = ["keer","ashi","vyas","ayyoob","nand"]
names[:4] #or
names[0:4] 
#this will just show default name or the last onje 
names[4]
names[-2:] #this will give last two elements in the list
names

['ayyoob', 'nand']

In [ ]:
friends = ["kaka","kakakaka","kekeke","djjdjd","jsjjsjs"]
close_friends = ["ash","vyas","keer"]

## shallow copies

In [ ]:
names2 = names[:]
id(names2)
# for slicing list use one : and for striding use double :(::)

2843906278656

In [105]:
# for slicing list use one : and for striding use double :(::)
names = ["keer","ashi","vyas","ayyoob","nand"]
names[::-1]

['nand', 'ayyoob', 'vyas', 'ashi', 'keer']

## Slicing

In [106]:
filename = 'resume.pdf'
filename[:4]

'resu'

## operations in dictionary

In [108]:
#map keys to values.called associative arrays or hashmaps in other languages.
# dictionary are optimized method tosolve in python.we can define dictionary side by side lie
types = {'name': str, 'age': int, 'address': str}
type2 = dict{name=str, age=int, address=str}
#the "keys" must be hashable:
types['name'] ans will be str

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3912973847.py, line 4)

In [ ]:
#the "keys" (  'name'  ) must be hashable:
types['name']

NameError: name 'types' is not defined

In [2]:
#create a dictionary of inventory total of 3 value which has the 
# name of the movie,cast and total revenue which has atleast 5 values
s = []
for i in range(len(movies)):
    s={}
    s["movie"]=input("")
    s["cast"]=input("")
    s["revenue"]=input("")

    print(f"the Movie {movie} has {cast} in it and has generated total of {revenue} revenue.")

NameError: name 'movies' is not defined

##