dataclass decorator is a feature introduced in python 3.7 that provides concise way t define primarlyintended to store data.it automatically generates several special methods,such as imit,repr,and eq based on the class attributes you define.

In [1]:
from dataclasses import dataclass
@dataclass
class person:
    name:str
    age:int
    profession:str

the @dataclass decoratir automatically generates:
init():initializes object and assigns the provided values to the attributes
repr():provides string representation of the object
eq():implements equality comparisons between two objects of the class based on their attributes

In [ ]:
person1=person('krish',17,'se')
person1

17

In [5]:
person1.age

17

In [ ]:
from dataclasses import dataclass
@dataclass(frozen=True)

class Point:
    
    x:int
    y:int

In [7]:
point=Point(3,4)

In [ ]:
point.x, point.y

In [ ]:
## inheritance
@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee

In [15]:
@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:int
    address:Address

In [17]:
address = Address('123 Main street','Banglore','12345')
person= Person("krish",32,address)

In [19]:
person.address.city
employee.name

NameError: name 'employee' is not defined

In [ ]:
employee.name

In [ ]:
'''
first design a class which stores student info in which namme rollno 
enrolment no should be there.next class is marks in which start ,middle,end of sem third interview score
 in which communication skills, resume and technical skills,'''
class Student:
    def __init__(self, name, rollno, enrollment_no):
        self.name = name
        self.rollno = rollno
        self.enrollment_no = enrollment_no

    def display_student_info(self):
        print("Name:", self.name)
        print("Roll No:", self.rollno)
        print("Enrollment No:", self.enrollment_no)


class Marks(Student):
    def __init__(self, name, rollno, enrollment_no,
                 start_sem, mid_sem, end_sem,
                 communication, resume, technical):

        super().__init__(name, rollno, enrollment_no)

        self.start_sem = start_sem
        self.mid_sem = mid_sem
        self.end_sem = end_sem
        self.communication = communication
        self.resume = resume
        self.technical = technical

    def display_marks(self):
        print("Start Semester:", self.start_sem)
        print("Mid Semester:", self.mid_sem)
        print("End Semester:", self.end_sem)
        print("Communication Skills:", self.communication)
        print("Resume:", self.resume)
        print("Technical Skills:", self.technical)

    def check_result(self):
        
        marks = [
            self.start_sem,
            self.mid_sem,
            self.end_sem,
            self.communication,
            self.resume,
            self.technical
        ]

        
        for m in marks:
            if m == 0:
                print("Result: FAILED (Zero marks)")
                return

        
        for m in marks:
            if m < 70:
                print("Result: FAILED (Below 70)")
                return

        print("Result: PASSED")



student1 = Marks(
    "Keerthana", 4, "P122",
    80, 75, 90,
    78, 85, 88
)

student1.display_student_info()
student1.display_marks()
student1.check_result()

Name: Keerthana
Roll No: 4
Enrollment No: P122
Start Semester: 80
Mid Semester: 75
End Semester: 90
Communication Skills: 78
Resume: 85
Technical Skills: 88
Result: PASSED